{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Главная{% endblock %}: Мои карточки</title>
        <link rel="stylesheet" href="{% static 'flashcards/css/main.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="header__wrapper">
                <div class="header__container">
                    <div class="header__logo logo-header">
                        <a href="{% url 'index' %}" class="logo-header__link">RookLang</a>
                    </div>
                    <div class="header__search search-header">
                        <img src="{% static 'flashcards/img/search.svg' %}" alt="Search icon">
                        <input type="text" class="search-header__input" placeholder="поиск по карточкам...">
                    </div>
                    <div class="header__languages languages-header">
                        <button class="languages-header__btn" type="button">ru</button>
                        <button class="languages-header__btn" type="button">en</button>
                    </div>
                    <div class="header__user user-header">
                        <button class="user-header__btn">
                            <img src="{% static 'flashcards/img/user.svg' %}" alt="User icon">
                        </button>
                    </div>
                    <button class="header__burger burger-header"><span></span></button>
                </div>
            </div>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add_category' %}">Добавить тему</a>
            <a href="{% url 'add_flashcard' %}">Добавить карточку</a>
            {% for category in categories %}
            <a href="{% url 'by_category' category.pk %}">{{category.name}}</a>
            {% endfor %}
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>