<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{current_category.name}}: Мои карточки</title>
    </head>
    <body>
        <h1>Мои карточки</h1>
        <h2>Тема: {{current_category.name}}</h2>
        <div>
            <a href="/flashcards/">Главная</a>
            {% for category in categories %}
            <a href="/flashcards/{{category.pk}}/">{{category.name}}</a>
            {% endfor %}
        </div>
        {% for flshcard in flshcards %}
        <div>
            <h2>{{flshcard.word}}</h2>
            <h3>{{flshcard.translate}}</h3>
            <p>{{flshcard.example}}</p>
            <p>{{flshcard.tip}}</p>
        </div>
        {% endfor %}
    </body>
</html>